<div class="row" style="left: 15px; margin-top: 10px">
  <div class="col-md-6">
    <mat-form-field class="full-width">
      <mat-label> Buscar jogos </mat-label>
      <input matInput [(ngModel)]="search">
    </mat-form-field>
  </div>
  <div class="col-md-3">
    <mat-form-field class="full-width">
      <label for="nota"><strong>Tipo de Busca</strong></label><br>
      <mat-select [(ngModel)]="searchType">
        <mat-option value="nome">Título</mat-option>
        <mat-option value="genero">Gênero</mat-option>
        <mat-option value="desenvolvedor">Desenvolvedor</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-3">
    <button class="full-width height-50" [ngClass]="(!searchType || !search) ? '' : 'search-game-button'" #save
    mat-raised-button (click)="searchGames()" [disabled]="!searchType || !search">
      <mat-icon style="color: white !important;">search</mat-icon> Buscar Jogos
    </button>
  </div>
</div>

<mat-card class="box box" *ngFor="let jogo of jogos">
  <mat-card-header>
    <mat-card-title style="cursor: pointer;" [routerLink]="jogo.id"> {{jogo.nome}} </mat-card-title>
  </mat-card-header>
  <mat-card-content class="d-flex align-items-center">
    <div>
      <img class="game-image" [src]="jogo.imagem" [routerLink]="jogo.id">
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <h5><strong>Nota</strong></h5><p>{{jogo.nota}}/10</p>
      </div>
      <div class="col-md-3">
        <h5><strong>Título</strong></h5><p>{{jogo.nome}}</p>
      </div>
      <div class="col-md-4">
        <h5><strong>Desenvolvedor</strong></h5><p>{{jogo.desenvolvedor}}</p>
      </div>
      <div class="col-md-3">
        <h5><strong>Gênero</strong></h5><p>{{jogo.genero}}</p>
      </div>
      <div class="col-md-12">
        <h5><strong>Resumo</strong></h5><p>{{jogo.resumo}}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
