<mat-card class="box box">
  <mat-card-header>
    <mat-card-title> {{jogo.nome}} </mat-card-title>
  </mat-card-header>
  <mat-card-content class="text-center">
    <img class="game-image" [src]="jogo.imagem">
    <div class="d-flex align-items-center">
      <div class="card" *ngFor="let review of jogo.reviews" style="margin-top: 15px;">
        <div class="card-body">
          <div class="col-md-4">
            <h5>{{review.autor}}</h5><h6><strong>Nota: {{review.nota}} / 10</strong></h6>
          </div>
          <div class="col-md-12"><p>{{review.review}}</p></div>
        </div>
      </div>
    </div>
  </mat-card-content>
    <hr>
    <div class="row">
      <div class="col-md-7">
        <mat-form-field class="full-width">
          <label for="review"><strong>Escreva uma review:</strong></label><br>
          <textarea id="review" cols="30"></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-5">
        <mat-form-field class="full-width">
          <label for="nota"><strong>Dê uma nota:</strong></label><br>
          <input matInput value="0" id="nota" type="number" min="0" max="10">
        </mat-form-field>
      </div>
    </div>
    <button mat-stroked-button><strong>Enviar Review</strong></button>
</mat-card>
